$color__primary: 	#4B9DD6;
$color__secondary: 	#F69321;
$color__tertiary: 	#FED713;
$color__lightest: 	#fff;

$color__darkest: #37343E;
$color__grey: lighten(#37343E, 40);

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


.background {
	&__color-orange {
		background: $color__secondary;
		color: $color__lightest;
	} 
	&__color-grey {
		background: $color__grey;
		color: $color__darkest;
	} 
}

