$breakpoint_mobile: 500px;

.main-navigation {
	width: 100%;
	display: flex;
	align-items: center;
	margin: 0 auto;

	color: $color__primary;

	.nav-menu {
		display: flex;
		margin: 0;
		padding: 0;
		justify-content: flex-end;

		@media screen and (max-width: $breakpoint_mobile) {
			display: none;
		}

		li {
			list-style-type: none;
			padding: 0 $padding__small;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	padding: $padding__small 0;
	a {
		width: 50%;
		display: inline-block;
	}
	a:nth-of-type(1) {
		float: left;
	}
	a:nth-of-type(2) {
		float: right;
		text-align: right;
	}
}